body { margin: 0; overflow: hidden; background-color: #000; font-family: sans-serif; }
canvas { display: block; }
#ui-overlay {
    position: absolute;
    top: 20px;
    left: 20px;
    color: cyan;
    pointer-events: none; /* Para que no interfiera con el mouse */
}

canvas {
    display: block;
    touch-action: none; /* Desactiva el scroll y zoom del navegador sobre el canvas */
    -webkit-tap-highlight-color: transparent; /* Quita el cuadro azul al tocar en móviles */
}
